<div class="modal-header bg-light">
  <h5 class="modal-title">Add/Edit Student</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="addEditForm">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name*</label>
      <input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder="first name">
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name*</label>
      <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="last name">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email*</label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="example@domain.com">
    </div>

    <div class="mb-3">
      <label for="gender" class="form-label">Gender*</label>
      <select id="gender" class="form-select" formControlName="gender"
        [ngClass]="{ 'text-muted': addEditForm.get('gender')?.value === '' }">
        <option value="" disabled hidden selected>--select gender--</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="birthDate" class="form-label">Birth Date*</label>
      <div class="input-group">
        <input class="form-control" placeholder="e.g. 15-12-2000" name="dp" ngbDatepicker #d="ngbDatepicker"
          [value]="this.addEditForm.get('birthDate')?.value" (dateSelect)="onDateSelect($event)" />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
      </div>
    </div>

    <div class="mb-3">
      <label for="country" class="form-label">Country*</label>
      <input type="text" id="country" class="form-control" formControlName="country" placeholder="e.g. Saudi Arabia">
    </div>
  </form>
</div>

<div class="modal-footer border-0">
  <button type="button" class="btn btn-success btn-block" [ngStyle]="{'width': '35%'}" (click)="onSave()">Save</button>
</div>