<div class="row">
    <div class="col-6 mt-4 mt-xxl-0 w-auto h-auto">
        <div *ngIf="showPopover" data-mdb-alert-init class="alert px-4 pt-3 mb-0 pb-0"
            [ngClass]="{'d-none': !showPopover, 'very-weak-cont': passwordStrength == 'Very Weak', 'weak-cont': passwordStrength == 'Weak', 'medium-cont': passwordStrength == 'Medium', 'strong-cont': passwordStrength == 'Strong'}"
            role="alert" id="password-alert-cont">
            <div 
              id="password-alert-div" class="d-flex justify-content-center align-items-center" 
              [ngClass]="{'very-weak-div': passwordStrength == 'Very Weak', 'weak-div': passwordStrength == 'Weak', 'medium-div': passwordStrength == 'Medium', 'strong-div': passwordStrength == 'Strong'}">
              <h6 
              id="password-alert-heading" 
              [ngClass]="{'very-weak-h6': passwordStrength == 'Very Weak', 'weak-h6': passwordStrength == 'Weak', 'medium-h6': passwordStrength == 'Medium', 'strong-h6': passwordStrength == 'Strong'}">
              {{passwordStrength}}
            </h6>
            </div>
            <p class="text-muted small">
                Password must be at least 8 characters and contain
                <span [class.success]="hasNumber">1 number</span>,
                <span [class.success]="hasUpperCase">1 uppercase letter</span>,
                <span [class.success]="hasLowerCase">1 lowercase letter</span>
                and
                <span [class.success]="hasSpecialChar">1 special character</span>.
            </p>
        </div>
    </div>
</div>
