<div class="row">
    <!-- <div class="col-6">
      <div class="input-group d-flex">
        <span class="input-group-text border-0" id="password">
          <i class="fas fa-lock fa-2x me-1"></i>
        </span>

        <input type="password" class="form-control rounded mt-1" placeholder="Type your password"
               aria-label="password" aria-describedby="password" id="password-input"
               (focus)="showPasswordAlert = true" (blur)="showPasswordAlert = false"
               (input)="checkPasswordStrength()">
        <div class="valid-feedback">Good</div>
        <div class="invalid-feedback">Wrong</div>
      </div>
    </div> -->

    <div class="col-6 mt-4 mt-xxl-0 w-auto h-auto">
        <div *ngIf="showPopover" data-mdb-alert-init class="alert px-4 py-3 mb-0"
            [ngClass]="{'d-none': !showPopover, 'alert-warning': !isPasswordValid, 'alert-success': isPasswordValid}"
            role="alert" id="password-alert">
            <p class="text-muted">
                Password must be at least 8 characters and contain
                <span [class.text-success]="hasNumber">1 number</span>,
                <span [class.text-success]="hasUpperCase">1 uppercase letter</span>,
                <span [class.text-success]="hasLowerCase">1 lowercase letter</span>
                and
                <span [class.text-success]="hasSpecialChar">1 special character</span>.
            </p>
        </div>
    </div>
</div>