<div class="d-flex flex-column align-items-center justify-content-center bg-white">
    <div class="mx-4 my-5 d-flex align-items-center justify-content-center">
        <img src="assets/images/logo.png" alt="ultatel logo" class="img-fluid mb-3" style="max-width: 250px;">
    </div>

    <div class="container bg-white d-flex align-items-center justify-content-center" style="width:75%; height:75%">
        <div class="container bg-white" style="max-width: 550px; padding: 20px;">
            <h2 class="text-center mb-5 text-secondary">Welcome</h2>
            @if(isAlertOpen) {
            <ngb-alert [type]="'danger'" (closed)="closeAlert()">"Invalid email or password. Please try
                again."</ngb-alert>
            }
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="text" formControlName="email" class="form-control" placeholder="email"
                    [class.is-invalid]="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || isLoginClicked)"
                    >
                    <!-- <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                        <p *ngIf="loginForm.get('email')?.getError('required') && loginForm.get('email')?.touched"
                            class="text-danger">*required field</p>
                    </div> -->
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <input id="password" type={{passwordFieldType}} formControlName="password"
                            class="form-control border-end-0" placeholder="password"
                            [class.is-invalid]="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || isLoginClicked)"
                            >
                        <button type="button" class="btn-no-border" (click)="togglePasswordVisibility()"
                        [class.btn-invalid]="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || isLoginClicked)"
                        >
                            <i [ngClass]="passwordFieldType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                        </button>
                    </div>
                    <!-- <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                        <p *ngIf="loginForm.get('password')?.getError('required') && loginForm.get('password')?.touched"
                            class="text-danger">*required field</p>
                    </div> -->
                </div>

                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="Login" style="width: 100%; margin: 0 auto;">
                </div>
            </form>
            <div class="text-center mt-3">
                <a routerLink="/register">New user? Register here</a>
            </div>
        </div>
    </div>
</div>