<app-header></app-header>

<div class="container my-5">
    <!-- Title Section -->
    <div class="d-flex justify-left align-items-center mb-4">
        <h4 class="text-secondary">Students</h4>
    </div>

    <!-- Search Section -->
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="mb-4">
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="col-md-3 mb-3">
                <label for="age">Age</label>
                <div class="d-flex">
                    <input type="number" class="form-control mr-2" id="ageFrom" formControlName="ageFrom">
                    <div class="px-2">to</div>
                    <input type="number" class="form-control" id="ageTo" formControlName="ageTo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" formControlName="country">
            </div>
            <div class="col-md-3 mb-3">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" formControlName="gender">
                    <option value="" default hidden selected>--select gender--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary col-2 m-1">Search</button>
                <button type="button" class="btn btn-light border border-1 col-2 m-1"
                    (click)="resetForm()">Reset</button>
            </div>
        </div>

    </form>

    <!-- Table Section -->
    <div class="d-flex justify-content-between align-items-right mt-3 mb-4">
        <div>
            <label for="entries">Show entries</label>
            <select class="form-control d-inline-block w-auto mx-1" id="entries" [(ngModel)]="entriesPerPage"
                (change)="onEntriesPerPageChange()">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button class="btn btn-success col-md-2" (click)="addStudent()">Add New</button>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Student Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(student of students; track student.id) {
                <tr>
                    <td>
                        <button class="btn btn-sm btn-outline-primary" (click)="editStudent(student)">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                    <td>{{ student.firstName + ' ' + student.lastName }}</td>
                    <td>{{ calculateAge(student.birthDate) }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.country }}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger" (click)="deleteStudent(student.id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Pagination Section -->
    <div class="d-flex justify-content-between align-items-center">
        <div>
            Showing {{this.startingEntriesIndex}} to {{this.endingEntriesIndex}} of {{ totalEntries }} entries
        </div>
        <ngb-pagination [collectionSize]="totalEntries" (pageChange)="onPageChange($event)" [pageSize]="entriesPerPage"
            [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true" />
    </div>
</div>





<!-- <nav>
            <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="goToFirstPage()">First</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="goToPreviousPage()">Previous</a>
                </li>
                @for(page of pages; track page) {
                <li class="page-item" [class.active]="page === currentPage">
                    <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
                </li>
                }
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <a class="page-link" (click)="goToNextPage()">Next</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <a class="page-link" (click)="goToLastPage()">Last</a>
                </li>
            </ul>
        </nav> -->